version: "3.9"
services:
  backend:
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    environment:
      - DATABASE_URL=${DATABASE_URL}
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
